{% load static %}
<div class="header_mobile">
    <div class="mlogo_wrapper clearfix">
        <div class="mobile-logo">
            <a href="/"><img src="{% static 'images/logo-white.svg' %}" alt="Logo"></a>
        </div>
        <div id="mmenu_toggle" class="mmenu_toggle">
            <button></button>
        </div>
    </div>
    <div class="mmenu_wrapper">
        <div class="mobile_nav collapse">
            <ul id="menu-main-menu" class="mobile_mainmenu">
                <li class=""><a href="/">Home</a>
                </li>
                <li class="menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1731"><a href="#">ABOUT US</a>
                    <ul class="sub-menu">
                        <li class="menu-item-1738"><a href="{% url 'main:history' %}">HISTORY</a></li>
                        <li class="menu-item-1745"><a href="{% url 'main:vision_mission' %}">VISION & MISSION</a></li>
                        <li class="menu-item-1742"><a href="{% url 'main:team' %}">THE TEAM</a></li>
                        <li class="menu-item-1746"><a href="{% url 'main:testimonials' %}">TESTIMONIALS</a></li>
                    </ul>
                </li>
                <li class="menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1789"><a href="#">CREATING IMPACT</a>
                    <ul class="sub-menu">
                        <li class="menu-item-1738"><a href="{% url 'main:statistics' %}">STATISTICS</a></li>
                        <li class="menu-item-1745"><a href="{% url 'main:approach' %}">OUR APPROACH</a></li>
                        <li class="menu-item-1742"><a href="{% url 'main:stories' %}">STORIES OF HOPE</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">HOW YOU CAN HELP</a>
                    <ul class="sub-menu">
                        <li class="menu-item-1738"><a href="{% url 'main:donate' %}">DONATE NOW</a></li>
                        <li class="menu-item-1745"><a href="{% url 'main:volunteer' %}">VOLUNTEER WITH US</a></li>
                        <li class="menu-item-1742"><a href="{% url 'main:careers' %}">CAREERS</a>
                            <ul class="sub-menu">
                                <li class="menu-item-1738"><a href="{% url 'main:jobs' %}">ANNOUNCED JOBS</a></li>                                               
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">CONSULTATION</a>
                    <ul class="sub-menu">
                        <li class="menu-item-1791"><a href="{% url 'main:expert_panelist' %}">EXPERT PANELISTS</a></li>
                        <li class="menu-item-1758"><a href="{% url 'main:get_expert' %}">GET IN TOUCH WITH AN EXPERT</a></li>
                        <li class="menu-item-1790"><a href="{% url 'main:trainings' %}">TRAININGS</a></li>
                        <li class="menu-item-1760"><a href="{% url 'main:resources' %}">RESOURCES</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">MARKET LINKAGE</a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'main:get_connected_to_market' %}">GET CONNECTED TO THE MARKETS</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'main:contact' %}">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</div>