{% load static %}
        <!-- Top bar start / class css: topbar-dark -->
        <div id="header_topbar" class="header-topbar md-hidden sm-hidden clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- contact info -->
                        <ul class="info-list fleft">
                            <li><i class="fa fa-map-marker color-light"></i> Sanga Sanga,Morogoro-Tanzania.</li>
                            <li><i class="fa fa-phone color-light"></i><a href="tel:+255783124619"> (+255)- 783124619</a></li>
                        </ul>
                        <!-- contact info close -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar close -->