@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* universal */
.color-light{
    color: #67a141 !important;
}
.bg-dark{
    background-color: #173617 !important;
}
.color-dark{
    color: #173617 !important;
}

.bg-middle{
    background-color: #5b8d3d !important;
}

p{
    font-size: 20px !important;
    font-family: "Roboto", Sans-serif;
    margin: 0 0 15px;
}

.what-we-do{
    background-image: url('../static/images/what-we-do.png');
    background-size: cover;
    min-height: 91px;
}

.service-button{
    border-style: double;
    border-width: 6px 6px 6px 6px;
    border-radius: 11px 11px 11px 11px;
    border-color: #fff;
}

.service-column{
    height: 100% !important;
}

.contact-image-container{
    height: 600px !important;
}

.contact-image-container img{
    height: 590px;
    object-fit: cover;
    width: 100%;
}

.partiner-image-container{
    height: 600px !important;
}

.partiner-image-container img{
    height: 600px;
    object-fit: cover;
    width: 100%;
}


.contact-image-container .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 5px;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #173617 !important;
    color: #fff;
    font-size: 1em;
}

.page-headings{
    color: #54595f;
    font-family: "Roboto", Sans-serif;
    font-weight: 600
}

.divider-icon {
    margin: 25px auto 30px;
    padding: 0;
    border: 0;
    border-top: solid 1px;
    text-align: center;
}
.divider-icon:after {
    content: "\f06c";
    display: inline-block;
    position: relative;
    top: -1.7rem;
    padding: 0 0.5rem;
    font-family: FontAwesome;
    font-size: 3rem;
    background-color:#e5eef6;
}
.pb-2{
    padding-bottom: 2rem !important;
}

.pb-3{
    padding-bottom: 3rem !important;
}

.py-3{
    padding-bottom: 3rem !important;
}

.pt-3{
    padding-top: 3rem !important;
}

.p-2{
    padding: 2rem !important;
}

.widget_media_image{
    background-color: #fff !important;
    padding: 5px 2px !important;
    border-radius: 3px !important;
    width: 150px !important;
    height: 150px !important;
}
.widget_media_image img{
    width: 130px !important;
    height: auto;
}

.custom-html-widget ul li a{
    font-size: 1.2rem !important;
}

.custom-html-widget ul li a:hover{
    color: #6ba843 !important;
}

#back-to-top {
    background: #6ba843 !important;
}

@media (max-width:768px){
    .intro-slider-words{
        font-size: 36px !important;
        line-height: 1.5;
    }
    .intro-slider-container{
        margin-top: -10px !important;
    }

}

.footer-language-button{
    margin-top: 2rem !important;
}

.mobile-logo{
    width: 190px !important;
    height: auto;
}

.mmenu_toggle{
    margin-top: -15px !important;
}


/*
Brand Area Style
======================================================*/
.brand-area {
    margin-top: -30px;
  }
  
  .single-brand {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.05);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .single-brand img {
    height: 125px;
    margin: auto;
  }
  
  .single-brand:hover {
    background-color: #6ba843;
  }
  


