{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block title %}
    We connect and support small holder farmers
{% endblock title %}


{% block stylesheet %}
    
{% endblock stylesheet %}


{% block slider %}
<section id="section-slider" class="fullwidthbanner-container bg-dark" aria-label="section-slider">
    <div id="revolution-slider">
        <ul>
            <li data-transition="fade" data-slotamount="10" data-masterspeed="default" data-thumb="">
                <!--  BACKGROUND IMAGE -->
                <img src="{% static 'images/slider/slide1.png' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" />
                <div class="tp-caption tp-resizeme" data-x="right" data-hoffset="['0']" data-y="bottom" data-voffset="" data-width="['auto','320','auto','320']" data-transform_idle="o:1;" data-transform_in="x:550px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-responsive_offset="on">
                </div>
                <div class="tp-caption tp-resizeme font-second text-second bolder" data-x="['left']" data-hoffset="['0','15','15','15']" data-y="top" data-voffset="350" data-width="['580','580','480','320']" data-transform_idle="o:1;" data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1500" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-fontsize="['14','14','14','14']" data-responsive_offset="on">
                    <h1 class="text-light md-hidden sm-hidden" style="font-size:1.5rem;">WE'RE AGRIWEZESHA</h1>
                </div>
                <div class="tp-caption tp-resizeme font-second text-second bolder" data-x="['left']" data-hoffset="['0','15','15','15']" data-y="center" data-voffset="['-45','-45','-45','-45']" data-width="['670','580','480','320']" data-transform_idle="o:1;" data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1700" data-whitespace="['normal']" data-fontsize="['50','50','40','30']" data-lineheight="['60','60','50','40']" data-responsive_offset="on">

                </div>
                <div class="tp-caption tp-resizeme sh4 intro-slider-container" data-x="['left']" data-hoffset="['0','25','15','15']" data-y="center" data-voffset="['160','60','60','60']" data-width="['580','580','480','300']" data-transform_idle="o:1;" data-whitespace="['normal','normal','normal','normal']" data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1900" data-fontsize="['30','30','28','26']" data-lineheight="['30','30','24','22']" data-responsive_offset="on">
                <h4 class="text-light my-3 intro-slider-words" style="font-size:3rem">We Support small-holder Farmers in Production Techniques</h4>
                </div>
                <div class="tp-caption" data-x="['left']" data-hoffset="['0','15','15','15']" data-y="bottom" data-voffset="['185','185','185','185']" data-transform_idle="o:1;" data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="2100">
                </div>
            </li>

            <li data-transition="fade" data-slotamount="10" data-masterspeed="default" data-thumb="">
                <!--  BACKGROUND IMAGE -->
                <img src="{% static 'images/slider/slide2.png' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" />
                <div class="tp-caption tp-resizeme" data-x="right" data-hoffset="" data-y="bottom" data-voffset="" data-width="['auto','380','auto','320']" data-transform_idle="o:1;" data-transform_in="x:550px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-responsive_offset="on">
                </div>
                <div class="tp-caption tp-resizeme font-second text-second bolder" data-x="['left']" data-hoffset="['0','15','15','15']" data-y="top" data-voffset="350" data-width="['580','580','480','320']" data-transform_idle="o:1;" data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1500" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-fontsize="['14','14','14','14']" data-responsive_offset="on">
                    <h1 class="text-light md-hidden sm-hidden" style="font-size:1.5rem;">WE'RE AGRIWEZESHA</h1>
                </div>
                <div class="tp-caption tp-resizeme sh4 intro-slider-container" data-x="['left']" data-hoffset="['0','25','15','15']" data-y="center" data-voffset="['160','60','60','60']" data-width="['580','580','480','300']" data-transform_idle="o:1;" data-whitespace="['normal','normal','normal','normal']" data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1900" data-fontsize="['30','30','28','26']" data-lineheight="['30','30','24','22']" data-responsive_offset="on">
                    <h4 class="text-light my-3 intro-slider-words" style="font-size:3rem">We Support small-holder Farmers in Production Techniques</h4>
                    </div>
            </li>

            <li data-transition="fade" data-slotamount="10" data-masterspeed="default" data-thumb="">
                <!--  BACKGROUND IMAGE -->
                <img src="{% static 'images/slider/slide4.png' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" />
                <div class="tp-caption tp-resizeme" data-x="right" data-hoffset="" data-y="bottom" data-voffset="" data-width="['auto','290','auto','320']" data-transform_idle="o:1;" data-transform_in="x:550px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-responsive_offset="on">
                </div>
                <div class="tp-caption tp-resizeme font-second text-second bolder" data-x="['left']" data-hoffset="['0','15','15','15']" data-y="top" data-voffset="350" data-width="['580','580','480','320']" data-transform_idle="o:1;" data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1500" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-fontsize="['14','14','14','14']" data-responsive_offset="on">
                    <h1 class="text-light md-hidden sm-hidden" style="font-size:1.5rem;">WE'RE AGRIWEZESHA</h1>
                </div>
                <div class="tp-caption tp-resizeme sh4 intro-slider-container" data-x="['left']" data-hoffset="['0','25','15','15']" data-y="center" data-voffset="['160','60','60','60']" data-width="['580','580','480','300']" data-transform_idle="o:1;" data-whitespace="['normal','normal','normal','normal']" data-transform_in="x:100px;opacity:0;s:800;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1900" data-fontsize="['30','30','28','26']" data-lineheight="['30','30','24','22']" data-responsive_offset="on">
                    <h4 class="text-light my-3 intro-slider-words" style="font-size:3rem">We Support small-holder Farmers in Production Techniques</h4>
                    </div>                    <p>Help You To Grow Your Business</p>
                </div>
            </li>            
        </ul>
    </div>
</section>
{% endblock slider %}


{% block content %}
<section class="mission-section py-4 my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="color-dark" translate="no">Agriwezesha</h4>
                <p>We are  a Non Governmental Organization (NGO) founded and registered in 2019 under the Non-Government Organization Act of 2002. <br>
                Our main purpose is to work closely with small-holder farmers in Tanzania to enhance agricultural productivity by providing education/training and consultations on modern farming practices as well as improving farmers’ market connections.
                </p>
                
            </div>
            <div class="col-md-6">
                <div class="bg-middle p-4 rounded rounded-5" >
                    <div><h4 class="color-dark">Our Vision</h4></div>
                    <div class="text-light"><p>To attain increased agricultural productivity and improved market connections for small-holder farmers in Tanzania.</p></div>
                    <div><h4 class="color-dark">Our Mission</h4></div>
                    <div class="text-light"><p>To boost productivity and improve market connections in Tanzania by regarding the use of modern farming practices and technology which is affordable by small-holder farmers.</p></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="jdzBox">
                    <h2>OUR OBJECTIVES</h2>
                    <ul>
                        <li><span>1</span>To develop and implement programs which support small holder farmers on their lively hoods and the ecosystem</li>
                        <li><span>2</span>To initiate and implement environmental conservation programs in collaboration with small holder farmers.</li>
                        <li><span>3</span>To support small holder farmers on easily access of the markets for their produce.</li>
                        <li><span>4</span>To develop digital farmers’ services which aim at increasing the farmers’ working efficiency.</li>
                        <li><span>5</span>To initiate programs which guarantee food security to the farmers’ communities within Tanzania.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container-fluid">
        <div class="row what-we-do d-flex align-items-center">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center"><h2 class="color-light">THINGS WE CAN DO FOR YOU</h2></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<section class="mt-3">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4 text-center service-column">
                <img src="{% static 'images/service/consultation.png' %}" alt="">
                <h4 class="color-dark my-3">CONSULTATION</h4>
                <p>We are providing free consultations to small holder farmers on modern farming practices and farming technology. The farmers can get these services by visiting our office or by getting in touch with our technical experts through online.</p>
                <a href="{% url 'main:consultation' %}"><button class="btn service-button mb-3"><i class="fa fa-chevron-right mr-2"></i>Read More</button></a>
                <hr class="d-lg-none">
            </div>
            <div class="col-md-4 text-center service-column">
                <img src="{% static 'images/service/training.png' %}" alt="">
                <h4 class="color-dark my-3">TRAINING/EDUCATION</h4>
                <p>We are providing different trainings to smallholder farmers on modern farming practices and farming technology. We have practical training sessions that allow a farmer to gain hands-on experience. We also have online training programs that can be accessed freely by the farmers.</p>
                <a href="{% url 'main:trainings' %}"><button class="btn service-button mb-3"><i class="fa fa-chevron-right mr-2"></i>Read More</button></a>
                <hr class="d-lg-none">
            </div>
            <div class="col-md-4 text-center service-column">
                <img src="{% static 'images/service/market.png' %}" alt="">
                <h4 class="color-dark my-3">MARKET LINKAGE</h4>
                <p>We help small-holder farmers to get good and reliable markets for their products after harvest. We do this to increase their income and so later improve their standard of living.</p>
                <a href="{% url 'main:get_connected_to_market' %}"><button class="btn service-button mb-3"><i class="fa fa-chevron-right mr-2"></i>Read More</button></a>
                <hr class="d-lg-none">
            </div>
        </div>
    </div>
</section>
<section class="funfact-sec section-padding-fun">
    <div class="container">
        <div class="row">
            <div class="wpb_column column_container col-sm-12">
                <div class="column-inner">
                    <div class="wpb_wrapper">
                        <div class="section-head ">
                            <h2 class="section-title text-light">Agroforestry Project</h2>
                        </div>
    
                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p class="text-light">Agriwezesha is implementing tree planting project through the adaptation of Agroforestry practices and reforestation in the Morogoro Region in Mvomero
                                    In the year 202/23. <br><br>Agriwezesha planted 444,067 trees both fruit trees, this project is funded by Reforestation with the main purposes of conserving the environment and empowering economic well-being of the farms.
                                    <br><br>Our heartfelt thanks go to ReforestAction for supporting this project which created a lot of impact on the community as well as on the environment
                                    </p>
                                <div class="empty_space_30"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for a in agroforest %}
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="counter-section">
                    <div class="counter-icon">
                        <img src="{% static 'images/tree.png' %}" alt="tree">
                    </div>
                    <span class="counter-value">{{a.trees}}</span>
                    <h3>Trees planted</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="counter-section blue">
                    <div class="counter-icon">
                        <img src="{% static 'images/land.png' %}" alt="land">
                    </div>
                    <span class="counter-value">{{a.acres}}</span>
                    <h3>Acres Restored</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="counter-section blue">
                    <div class="counter-icon">
                        <img src="{% static 'images/people.png' %}" alt="people">
                    </div>
                    <span class="counter-value">{{a.people}}</span>
                    <h3>People</h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="">
    <div class="container-fluid">
        <div class="row bg-dark d-flex align-items-center">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center pt-3"><h2 class="text-light">HAVE ANYTHING TO DISCUSS WITH US?</h2></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<section class="wpb_row row-fluid section-padd">
    <div class="container">
        <h4 class="color-dark text-center">REQUEST A CALL BACK BY FILLING THE FORM BELOW</h4>
        <div class="row">
            <div class="col-md-6 contact-image-container">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'images/contact.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post" id="AgriwezeshacontactForm">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            <div class="form-group">
                              <label><b>Your Name</b></label>
                              {% render_field form.name class="form-control" %}
                            </div>
                            <div class="form-group">
                              <labe><b>Phone Number</b></label>
                              {% render_field form.phone class="form-control" %}
                            </div>
                            <div class="form-group">
                                <label><b>Email address</b></label>
                                {% render_field form.email class="form-control" %}
                              </div>
                            <div class="form-group">
                                <label><b>Subject</b></label>
                                {% render_field form.subject class="form-control" %}
                            </div>
                            <div class="form-group">
                                <label><b>Message</b></label>
                                {% render_field form.message class="form-control" rows="5" %}
                            </div>
                            <button class="btn btn-primary rounded rounded-5" type="submit"><i class="fa fa-check-square-o"></i> Submit now</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Brand Area -->
<div class="brand-area pt-70">
<div class="container">
    <div class="row">
        <div class="wpb_column column_container col-sm-12">
            <div class="column-inner">
                <div class="wpb_wrapper">
                    <div class="section-head ">
                        <h2 class="section-title">Our Partners</h2>
                    </div>

                    <div class="wpb_text_column wpb_content_element">
                        <div class="wpb_wrapper">
                            <p>These are our valuable partners making important contributions and helping us to create impact. </p>
                            <div class="empty_space_30"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="brand-wrap owl-carousel owl-theme">
        <div class="single-brand">
        <img src="{% static 'images/brand-logo/1.png' %}" alt="google">
        </div>
        <div class="single-brand">
        <img src="{% static 'images/brand-logo/2.png' %}" alt="dunia digito">
        </div>
        <div class="single-brand">
        <img src="{% static 'images/brand-logo/3.png' %}" alt="ssc capital">
        </div>
        <div class="single-brand">
            <img src="{% static 'images/brand-logo/4.png' %}" alt="ssc capital">
            </div>
    </div>
    </div>
</div>
</div>
<!-- End Brand Area -->

<section class="wpb_row row-fluid section-padd" style="background-color: #336633;">
    <div class="container">
        
        <div class="row">
            <div class="col-md-6 partiner-image-container">                                  
                <img src="{% static 'images/partiner.png' %}" alt="partiner">  
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h4 class="card-header text-capitalize">Drop us a message if you would like to partner with us.</h4>
                    <div class="card-body">
                        <form action="" method="post" id="AgriwezeshapartinerForm">
                            {% csrf_token %}
                            {% for hidden in partiner_form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-12 form-group">
                                <label><b>Your Name</b></label>
                                {% render_field partiner_form.name class="form-control" %}
                                </div>
                                <div class="col-md-12 form-group">
                                <labe><b>Name of the organization</b></label>
                                {% render_field partiner_form.organization class="form-control" %}
                                </div>
                                <div class="col-md-12 form-group">
                                    <label><b>Address</b></label>
                                    {% render_field partiner_form.address class="form-control" %}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label><b>City</b></label>
                                    {% render_field partiner_form.city class="form-control" %}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label><b>Country</b></label>
                                    {% render_field partiner_form.country class="form-control" %}
                                </div>
                                <div class="col-md-12 form-group">
                                    <label><b>Message</b></label>
                                    {% render_field partiner_form.message class="form-control" rows="5" %}
                                </div>
                            </div>
                            <button class="btn btn-primary rounded rounded-5 btn-block d-flex align-items-center justify-content-center" type="submit"><i class="fa fa-2x fa-share-square-o"></i><span style="font-size: 1.5rem;">&nbsp;Send Request</span> </button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block javascript %}
<script>
    const form = document.getElementById('AgriwezeshacontactForm');
    form.addEventListener('submit', submitHandler)

    function submitHandler(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:"{% url 'main:contact_post' %}",
        data:$("#AgriwezeshacontactForm").serialize(),
        success: function(data){
          if (data.msg == 'success'){
            form.reset();
            Swal.fire({
              icon: 'success',
                title: 'Submitted Successfully!',
                text: 'We will contact you as soon as possible!',
            })
          }else{
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
            })
          }
        }
      })
    }

  </script>

<script>
    const partinerform = document.getElementById('AgriwezeshapartinerForm');
    partinerform.addEventListener('submit', submitHandler)

    function submitHandler(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:"{% url 'main:partiner_post' %}",
        data:$("#AgriwezeshapartinerForm").serialize(),
        success: function(data){
          if (data.msg == 'success'){
            form.reset();
            Swal.fire({
              icon: 'success',
                title: 'Request Sent!',
                text: 'We will respond as soon as possible!',
            })
          }else{
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
            })
          }
        }
      })
    }
  </script>
{% endblock javascript %}
    
    


