
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{title}}
{% endblock title %}


{% block stylesheet %}
    
{% endblock stylesheet %}

{% block content %}
<section style="min-height: 140px;" class="md-hidden sm-hidden"></section>
<div class="page-header">
    <div class="container">
        <div class="breadc-box no-line">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-title">{{title}}</h1>
                </div>
                <div class="col-md-6 mobile-left text-right">
                    <ul id="breadcrumbs" class="breadcrumbs none-style">
                        <li><a href="/">Home</a></li>
                        <li class="active text-light">{{title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" class="site-content">
    <div class="entry-content">
        <div class="container">
            <div class="boxed-content">   
                <section class="wpb_row row-fluid section-padd no-bot">
                    <div class="container">
                        <div class="row">
                            <div class="wpb_column column_container col-sm-12">
                                <div class="column-inner">
                                    <div class="wpb_wrapper">
                                        {% if jobs %}
                                        <p>
                                        Agriwezesha is a Non-Governmental Organization working closely with small-holder farmers in Tanzania to enhance agricultural productivity by providing training and consultations on modern farming practices as well as improving farmers’ market connections and supporting sustainable agriculture. Our head quarter is based at Morogoro Municipal. Agriwezesha is currently looking for qualified candidates to fill in the following positions in multiple locations;</p>
                                        {% endif %}
                                        {% for job in jobs %}
                                        <div class="career-box ">
                                            <h5>{{job.title}}</h5>
                                            <div class="content-box">
                                                <h6 class="font12">Key responsibilities</h6>
                                                {{job.responsibilities |safe}}
                                                <h6 class="font12">Required Skills</h6>
                                                    {{job.skills |safe}}
                                                <h6 class="font12">Preferred Qualifications</h6>
                                                {{job.qualifications |safe}}
                                                <h5>HOW TO APPLY</h5>
                                                <p>                                                    Interested candidates may apply by sending application letters, resumes and photocopies of certificates through <a href="mailto:info@agriwezesha.co.tz">info@agriwezesha.co.tz</a> 
                                                    </p>
                                        </div>

                                        <div class="empty_space_45"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block javascript %}
{% endblock javascript %}
    
    


