
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {{title}}
{% endblock title %}


{% block stylesheet %}
    
{% endblock stylesheet %}

{% block content %}
<section style="min-height: 140px;" class="md-hidden sm-hidden"></section>
<div class="page-header">
    <div class="container">
        <div class="breadc-box no-line">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-title">{{title}}</h1>
                </div>
                <div class="col-md-6 mobile-left text-right">
                    <ul id="breadcrumbs" class="breadcrumbs none-style">
                        <li><a href="/">Home</a></li>
                        <li class="active text-light">{{title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="entry-content">
    <div class="container">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <h3>JOB VACANCIES</h3>                    
                </div>
                <div class="card-body">
                    <p>Agriwezesha is a Non-Governmental Organization working closely with small-holder farmers in Tanzania to enhance agricultural productivity by providing training and consultations on modern farming practices as well as improving farmers’ market connections and supporting sustainable agriculture. Our head quarter is based at Morogoro Municipal. Agriwezesha is currently looking for qualified candidates to fill in the following positions in multiple locations;</p>
                    <h4>Agricultural Technicians 6 (Six) Positions</h4> <br>
                    <h6>Key responsibilities</h6>
                    <ul>
                        <li>Provide technical advice to smallholder farmers on agroforestry</li>
                        <li>Provide technical advice as well as trainings to smallholder farmers on land management, conservation and rehabilitation</li>
                        <li>Assist on plant propagation, seedling growth, irrigation regimes, weed maintenance as well as transplanting</li>
                        <li>Maintain accurate records including management and coordination of databases for nursery
                        production records</li>
                        <li>Create and review standard procedures for nursery tasks to enable efficient on daily operations</li>
                        <li>Create and review standard procedures for transplanting tasks to enable efficient on daily operations</li>
                        <li>Report all planted trees into the digital system accordingly</li>
                        <li>To provide all required reports as per the organization standards</li>
                        </ul>

                        <h6>Reqired Skills</h6>
                    <ul>
                        <li>Good project management skills</li>
                        <li> Good computer applications skills.
                        </li>
                        <li>Good organizational skills.</li>
                    </ul>

                   <h6>Preferred Qualifications</h6> 
                   <p style="font-style: italic;">Diploma/Bachelor in Agriculture General/Horticulture/ Agronomy/ Forestry and other related fields with at least one year working experience in relevant field. <br>
                    Knowledge in GIS and Remote Sensing will be added advantage </p> 

                   <h4>Monitoring and Evaluation Officer 1 (One) Position</h4> 
                   <h6>Key responsibilities</h6> 
                        <ul>
                <li>Develop and implement a robust monitoring and evaluation system that will ensure tracking of project/ programme results at different levels (outputs, outcomes and impact)</li>
                    <li>Work with other managers to ensure the collection of relevant and appropriate data needed which will be utilized in monitoring strengths, weaknesses and gaps in existing projects and programs and services and for reporting</li>
                <li>Develop M&E plans for all projects and proposals and ensure the same is followed up during implementation;</li>
                    <li>Ensure all grants have updated work-plan and performance management plan in tandem with all approved proposals, regularly reviewing and updating as needed</li>
                <li>Assist in the revision of the project log frame matrix, particularly in the areas of performance indicators and their measurement;</li>
                <li>Collect data on a regular basis to measure achievement against the performance indicators</li>
            </ul>
                <br>
                    <h6>Required Skills</h6>
                    <ul>
                <li>Good knowledge of programme implementation, monitoring and evaluation techniques and practices.</li>
                <li>Familiarity with impact assessment will be added advantage</li>
                <li>Good computer applications skills.</li>
                <li>Good organizational skills.</li>
            </ul>
            <h6>Preferred Qualifications</h6>
            <p style="font-style: italic;">Diploma/Bachelor in Forestry/ General Agriculture/Horticulture/Agronomy with at least one year working experience in relevant field.
            Knowledge in GIS and Remote Sensing will be added advantage</p>
            <h4>HOW TO APPLY</h4>
            <p> candidates may apply by sending application letters, resumes and photocopies of certificates through <a href="mailto:info@agriwezesha.co.tz">info@agriwezesha.co.tz</a></p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block javascript %}
{% endblock javascript %}
    
    


